<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rubypaper.student.StudentDao">

<select id="select" resultType="com.rubypaper.student.StudentVO">
select sno,sname,kor,eng,math,hist from examtbl order by  sno
</select>

</mapper>