<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마주스토리</title>
<link  href="/css/css.css"  rel="stylesheet" type="text/css" />
<style>
.highlight {
    background-color: yellow;
}
</style>
</head>
<body>
<header> 스프링부트 게시판  </header>
<nav> &emsp;&emsp;
<a href="/board/form"> 작성하기 </a> &emsp;&emsp;
<a href="/board/list"> 목록보기 </a> &emsp;&emsp;
<a href="/student/list"> 학생목록보기 </a> &emsp;&emsp;
<a href="/PortOneT/start"> 결제하기TEST </a> &emsp;&emsp;
&emsp;<a href="/index">홈으로</a> 
</nav>